body {
    font-family: Arial, sans-serif;
    background-image: url("welcome.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

label {
    margin-top: 10px;
    font-weight: bold;
    color: white;
}

select,
input[type="file"] {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

button:hover {
    background-color: #3e8e41;
}

#image-display {
    max-width: 100%;
    margin-bottom: 20px;
}



/* this is the css file for that html. rewrite this also */

.container {
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formm {
    width: 500px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.label {
    margin-top: 10px;
    font-weight: bold;
    color: black;
}

.select,
.input {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.button:hover {
    background-color: #3e8e41;
}

.image-display {
    max-width: 100%;
    margin-bottom: 20px;
}